<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAeC-NA8MUFwLFFe_tLd2K3vVYsV9dt_Mk</string>
	<key>GCM_SENDER_ID</key>
	<string>354097109879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gxit2025</string>
	<key>PROJECT_ID</key>
	<string>gxit-fcfe0</string>
	<key>STORAGE_BUCKET</key>
	<string>gxit-fcfe0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354097109879:ios:d3a3c6fb5771b00d4bdf72</string>
</dict>
</plist>